.post-list, .comment-list {
  height: 85vh;
  overflow: auto;
}

.post-list .list-group-item.active{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* button.btn-link {
  color: #6c757d
}

button.btn-link:hover{
  color: #212529
} */